@model IEnumerable<AllProteinPowderViewModel>
@inject IProteinPowderService ProteinPowderService;

@{
    TempData["Title"] = "Here you can see all our protein powders";
}

<style>
    img {
        cursor: pointer;
    }
</style>

@* This check is in place to prevent someone from attempting to add a large quantity of unflavored proteins, which would be deleted upon page refresh. *@
@foreach (var model in Model)
{
    var proteinPowder = await ProteinPowderService.FindProteinPowder(model.Id);

    var timeforAddFlavorExpired = proteinPowder.TimeForAddFlavor.AddMinutes(5);
    var currentHour = DateTime.UtcNow;

    if (timeforAddFlavorExpired <= currentHour)
    {
        if (proteinPowder.ProteinFlavors.Count == 0)
        {
            await ProteinPowderService.DeleteProteinPowder(model.Id);
        }
    }
}

<h1 class="text-center">@TempData["Title"]</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proteinPowder in Model)
        {
            if (proteinPowder.ProteinFlavors.Count == 0)
            {
                continue;
            }

            <tr>
                <td>@proteinPowder.Name</td>
                <td>@proteinPowder.ProteinPowderBrand</td>
                <td>@proteinPowder.Price</td>
                <td><img src="~/images/@proteinPowder.Image" alt="Product Image" width="100" height="100" onclick="openProtein(@proteinPowder.Id)" /></td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        function openProtein(proteinId) {
            var url = '/ProteinPowder/ViewProteinPowder/' + proteinId;

            window.location.href = url;
        }
    </script>
}