@model ProteinPowderReviewViewModel
@inject IUserService UserService
@inject IReviewService ReviewService
@using static SportStyleOasis.Web.Infrastructure.Extensions.ClaimsPrincipalExtensions;

@{
    var userId = User.GetId();
    var isUserAdmin = User.IsAdmin();
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var proteinId = Model.ProteinPowder.Id;
}

<link href="/css/proteinPowder/viewProteinPowder.css" rel="stylesheet" />

<h1 class="text-center">@Model.ProteinPowder.Name</h1>

<div>
    <img src="~/images/@Model.ProteinPowder.Image" alt="@Model.ProteinPowder.Name Image">
</div>

<div>
    <p><strong>Price:</strong> $@Model.ProteinPowder.Price</p>
    <p><strong>Description:</strong> @Model.ProteinPowder.Description</p>
    <p><strong>Protein Powder Brand:</strong> @Model.ProteinPowder.ProteinPowderBrand</p>
    <p><strong>Weight in grams:</strong> @Model.ProteinPowder.Weight</p>
    <p><strong>Protein Type:</strong> @Model.ProteinPowder.TypeOfProtein</p>
    <p><strong>Availabe Protein Powder Flavors:</strong></p>

    <form id="form" asp-controller="ShoppingCart" asp-action="AddProteinToCart" method="post">
        <select class="form-control mb-2" id="proteinFlavors" required>
            <option value="" selected>Please select protein flavor</option>

            @foreach (var proteinPowderFlavor in Model.ProteinPowder.ProteinFlavors)
            {
                if (proteinPowderFlavor.Quantity > 0)
                {
                    <option value="@($"{proteinPowderFlavor.FlavorName}|{proteinPowderFlavor.Quantity}")">@proteinPowderFlavor.FlavorName</option>
                }
            }
        </select>

        <input type="hidden" id="proteinFlavor" value="" />

        @if (isAuthenticated)
        {
            <input type="number" class="form-control mb-2" id="quantity" min="1" value="1" step="1" required>
            <button type="button" class="btn btn-primary mb-2" onclick="addToCart(@proteinId)">Add to cart</button>
        }
    </form>

    <p><strong>Ratings:</strong></p>
    @if (Model.ProteinPowder.Reviews != null && Model.ProteinPowder.Reviews.Any())
    {
        <ul>
            @foreach (var review in Model.ProteinPowder.Reviews)
            {
                <li>
                    <div class="comment-content" data-review-id="@review.Id" data-initial-comment="@review.Comment" data-initial-rating="@review.Rating">
                        <span>
                            Rating: <span class="rating">@review.Rating</span>,
                            @if (review.Comment != null)
                            {
                                <span>Comment: <span class="comment">@review.Comment,</span></span>
                            }
                            CreateAt: @review.CreatedAt, UserName: @review.UserName
                        </span>
                        @if (await UserService.IsThisUserPostThisReview(userId, review.Id, isUserAdmin))
                        {
                            <button class="edit-btn btn btn-primary mb-2" onclick="editBtnClickHandler(this)">Edit</button>
                            <button class="btn btn-danger space delete-btn" data-review-id="@review.Id" onclick="deleteBtnClickHandler(this)">Delete</button>
                        }
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>There are no reviews yet.</p>
    }

    @if (!await ReviewService.IsUserAddReviewToProteinPowderAsync(userId, Model.ProteinPowder.Id) && isAuthenticated)
    {
        <form asp-controller="Review" asp-action="AddProteinPowderReview" method="post">
            <input type="hidden" name="proteinPowderId" value="@Model.ProteinPowder.Id" />

            <label asp-for="Review.Rating">Rating:</label>
            <select asp-for="Review.Rating" asp-items="new SelectList(new List<int> { 1, 2, 3, 4, 5 })" class="form-control" required>
                <option value="">Select Rating</option>
            </select>
            <span asp-validation-for="Review.Rating" class="text-danger"></span>

            <label asp-for="Review.Comment">Comment:</label>
            <textarea asp-for="Review.Comment" class="form-control mb-2"></textarea>
            <span asp-validation-for="Review.Comment" class="text-danger"></span>

            <input type="submit" value="Submit Rating" class="btn btn-primary mb-2" />
        </form>
    }
</div>

@if (isUserAdmin)
{
    <div class="d-flex align-items-center">
        <a asp-controller="ProteinPowder" asp-action="Edit" asp-route-id="@Model.ProteinPowder.Id" class="btn btn-warning">Edit</a>

        <button class="btn btn-danger space" onclick="deleteProteinPowder(`@Model.ProteinPowder.Id`, `@Model.ProteinPowder.Name`)">Delete</button>

        <a asp-controller="Flavor" asp-action="Add" asp-route-id="@Model.ProteinPowder.Id" class="btn btn-primary space">Add flavor</a>

        <a asp-controller="Flavor" asp-action="EditProteinFlavors" asp-route-proteinPowderId="@Model.ProteinPowder.Id" class="btn btn-primary space">Edit Flavors</a>
    </div>
}

@section scripts {
    <script src="/js/proteinPowder/viewProteinPowder.js"></script>
}
