@model AddClotheViewModel
@using static SportStyleOasis.Common.EntityValidationConstants.Clothes;

@{
    TempData["Title"] = "Add new clothe";
    var a = Model;
}

<style>
    .smaller-input {
        width: 100px;
    }
</style>

<h1 class="text-center">@TempData["Title"]</h1>

<form asp-controller="Clothes" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name" class="form-label-add-edit">Name</label>
        <input asp-for="Name" class="form-control" required minlength="@ClothesNameMinLength" maxlength="@ClothesNameMaxLength" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Color" class="form-label-add-edit">Color</label>
        <input asp-for="Color" class="form-control" required minlength="@MinColorLength" maxlength="@MaxColorLength" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Image">Image:</label>
        <input type="file" class="form-control" asp-for="Image" accept="image/*" required>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="form-label-add-edit">Price</label>
        <input asp-for="Price" class="form-control" required step="1" min="@MinClothePrice" max="@MaxClothePrice" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="form-label-add-edit">Description</label>
        <input asp-for="Description" class="form-control" required minlength="@DescriptionMinLength" maxlength="@DescriptionMaxLength" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group mb-2">
        <label asp-for="ClothesBrands">Please select clothe brand for this garment:</label>
        <select class="form-control" id="clothesBrands" name="ClothesBrands" required>
            @if (Model.ClothesBrands.HasValue)
            {
                <option value="@Model.ClothesBrands">@Model.ClothesBrands</option>
            }
            else
            {
                <option value="">Select a clothe brands</option>

            }

            @foreach (var clothebrand in Enum.GetValues(typeof(ClothesBrands)))
            {
                @if (clothebrand.ToString() == Model.ClothesBrands.ToString())
                {
                    continue;
                }

                <option value="@clothebrand">@clothebrand</option>
            }
        </select>
    </div>
    <div class="form-group mb-2">
        <label asp-for="ClothesForGender">Please select the gender for this garment:</label>
        <select class="form-control" id="gender" name="ClothesForGender" required>
            @if (Model.ClothesForGender.HasValue)
            {
                <option value="@Model.ClothesForGender">@Model.ClothesForGender</option>
            }
            else
            {
                <option value="">Select a gender</option>
            }

            @foreach (var gender in Enum.GetValues(typeof(Gender)))
            {
                @if (gender.ToString() == Model.ClothesForGender.ToString())
                {
                    continue;
                }
                <option value="@gender">@gender</option>
            }
        </select>
    </div>
    <div class="form-group mb-2">
        <label asp-for="TypeOfClothes">Please slecet type for this garment:</label>
        <select class="form-control" id="typeOfClothes" name="TypeOfClothes" required>
            @if (Model.TypeOfClothes.HasValue)
            {
                <option value="@Model.TypeOfClothes">@Model.TypeOfClothes</option>
            }
            else
            {
                <option value="">Select a type of clothes</option>
            }

            @foreach (var typeOfClothes in Enum.GetValues(typeof(TypeOfClothes)))
            {
                @if (typeOfClothes.ToString() == Model.TypeOfClothes.ToString())
                {
                    continue;
                }
                <option value="@typeOfClothes">@typeOfClothes</option>
            }
        </select>
    </div>

    @foreach (var clotheSize in Model.SizesAndQuantities)
    {
        <div class="form-group">
            <label asp-for="SizesAndQuantities">@clotheSize.Key</label>
            <input name="SizesAndQuantities[@clotheSize.Key]" type="number" value="@clotheSize.Value" class="form-control" required step="1" min="@ClotheMinAvailableQuantity" max="@ClotheMaxAvailableQuantity" />
            <span asp-validation-for="SizesAndQuantities" class="text-danger"></span>
        </div>
    }

    <button type="submit" class="btn btn-primary">Add Clothe</button>
</form>