@model ClothReviewViewModel
@inject IUserService UserService
@inject IReviewService ReviewService
@inject IClothesService ClothService

@{
    var userId = User.GetId();
    var isUserAdmin = User.IsAdmin();
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    var clothId = Model.Cloth.Id;
    var availableClothes = await ClothService.GetAvailableColorsForClothAsync(Model.Cloth.Name);
}

<link href="/css/clothes/viewCloth.css" rel="stylesheet" />

<h1 class="name text-center">@Model.Cloth.Name</h1>

<div class="product">
    <div class="image">
        <img src="~/images/@Model.Cloth.Image" alt="@Model.Cloth.Name Image">
    </div>

    <div class="values">
        <p class="price">Price: $@Model.Cloth.Price</p>
        <p>Brand: @Model.Cloth.ClothBrand</p>
        <p>Gender: @Model.Cloth.ClothForGender</p>
        <p class="description">Description: @Model.Cloth.Description</p>

        <form id="form" asp-controller="ShoppingCart" asp-action="AddClotheToCart" method="post">
            <div id="color-options">
                <span class="color-option selected" style="background-color: @Model.Cloth.Color" data-cloth-id="@clothId" onclick="colorOption(this)"></span>

                @foreach (var cloth in availableClothes)
                {
                    if (Model.Cloth.Color == cloth.Color)
                    {
                        continue;
                    }

                    <span class="color-option" style="background-color: @cloth.Color" data-cloth-id="@cloth.Id" onclick="colorOption(this)"></span>
                }
            </div>

            <select class="form-control mb-2" id="garmentSize" name="GarmentSize" required>
                <option value="" selected>Please select cloth size</option>
                @foreach (var clothInventory in Model.Cloth.ClothInventory)
                {
                    @if (clothInventory.AvailableQuantity > 0)
                    {
                        <option value="@($"{clothInventory.ClothesSize}|{clothInventory.AvailableQuantity}")">@clothInventory.ClothesSize</option>
                    }
                }
            </select>

            <input type="hidden" id="clothSize" value="" />

            @if (isAuthenticated)
            {
                <input type="number" class="form-control mb-2" id="quantity" min="1" value="1" step="1" required>
                <button type="button" class="btn add" onclick="addToCart('@clothId')">Add to cart</button>
            }
        </form>
    </div>
</div>

<div class="review">
    @if (!await ReviewService.IsUserAddReviewToClotheAsync(userId, clothId) && isAuthenticated)
    {
        <form id="reviewForm" asp-controller="Review" asp-action="AddClotheReview" method="post" class="form">
            <input type="hidden" name="clothId" value="@clothId" />
            <input type="hidden" name="userId" value="@userId" />

            <strong><p>Add a review</p></strong>

            <label asp-for="Review.Rating">Rating:</label>
            <select asp-for="Review.Rating" asp-items="new SelectList(new List<int> { 1, 2, 3, 4, 5 })" class="form-control rating" required id="raiting">
                <option value="">Select Rating</option>
            </select>
            <span asp-validation-for="Review.Rating" class="text-danger"></span>

            <label asp-for="Review.Comment">Comment:</label>
            <textarea asp-for="Review.Comment" class="form-control mb-2 comment" id="value"></textarea>
            <span asp-validation-for="Review.Comment" class="text-danger"></span>

            <input type="submit" value="Submit Review" class="btn btn-primary mb-2" />
        </form>
    }

    <p><strong>Reviews:</strong></p>

    @if (Model.Cloth.Reviews != null && Model.Cloth.Reviews.Any())
    {
        <ul class="review list">
            @foreach (var review in Model.Cloth.Reviews)
            {
                <li class="review list item">
                    <div class="full-review" data-review-id="@review.Id" data-initial-comment="@review.Comment" data-initial-rating="@review.Rating">
                        <div class="review">
                            <div class="review-content">
                                <p class="username">@review.UserName</p>
                                <div class="user-data">
                                    <p class="rating">
                                        @for (int i = 0; i < review.Rating; i++)
                                        {
                                            <span class="star">★</span>
                                        }
                                    </p>
                                    <p class="createdAt">@review.CreatedAt.ToString("MMMM dd, yyyy")</p>
                                </div>
                                <p class="comment">
                                    @review.Comment
                                    <span class="buttons-container">
                                        @if (await UserService.IsThisUserPostThisReview(userId, review.Id, isUserAdmin))
                                        {
                                            <button class="btn edit-btn" onclick="editBtnClickHandler(this)"><i class="fa-solid fa-pencil"></i></button>
                                            <button class="btn delete-btn" data-review-id="@review.Id" onclick="deleteBtnClickHandler(this)">X</button>
                                        }
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>There are no reviews yet</p>
    }
</div>
<div>
    @if (isUserAdmin)
    {
        <div class="d-flex">
            <a asp-controller="Clothes" asp-action="Edit" asp-route-id="@clothId" class="btn btn-warning me-2">Edit</a>
            <form asp-controller="Clothes" asp-action="Delete" method="post" asp-route-id="@clothId">
                <input type="submit" value="Delete" class="btn btn-danger me-2" onclick="return confirm('Are you sure you want to delete this garment: @Model.Cloth.Name')" />
            </form>
            <a asp-controller="ClothInventory" asp-action="Edit" asp-route-id="@clothId" class="btn btn-primary">Edit cloth inventory</a>
        </div>
    }
</div>

@section scripts {
    <script src="~/js/clothe/viewCloth.js"></script>
}