@model ShoppingCartViewModel
@inject IUserService UserService;
@{
    var userName = await UserService.GetUserFullNameByIdAsync(User.GetId());

    TempData["Title"] = $"Hello {userName} this is your shopping cart!";
}

<style>
    .shopping-cart {
        width: 100%;
        overflow-x: auto; /* Allow horizontal scrolling if needed */
        white-space: nowrap; /* Prevent items from wrapping to the next line */
    }

    .cart-item {
        display: inline-block;
        margin-right: 20px; /* Adjust spacing between items */
        vertical-align: top; /* Align items at the top */
        width: 220px; /* Adjust the width of each item */
        white-space: normal; /* Allow wrapping within each item */
        position: relative;
        /* Add other styling for cart item container */
    }

    .item-image img {
        width: 100%; /* Ensure image fills the container */
        height: 200px; /* Set a fixed height for consistency */
        object-fit: cover; /* Ensure the image covers the entire container */
    }

    .item-details {
        padding: 10px;
        background-color: #f9f9f9;
    }

        .item-details h3 {
            margin-top: 0;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .item-details p {
            margin: 0;
            font-size: 14px;
        }

    .remove-item-btn {
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: transparent;
        border: none;
        color: black;
        font-size: 20px;
        cursor: pointer;
        border: 1px solid black;
    }

        .remove-item-btn:hover {
            color: white;
            background-color: red;
        }
</style>

<h1 class="text-center">@TempData["Title"]</h1>

<div class="shopping-cart">
    @foreach (var cloth in Model.Clothes)
    {
        <div class="cart-item">
            <div class="item-image">
                <img src="/images/@cloth.Image" alt="@cloth.Name">
            </div>
            <div class="item-details">
                <h3>@cloth.Name</h3>
                <p>Size: @cloth.Size</p>
                <p>Color: @cloth.Color</p>
                <p>Price: $@cloth.Price</p>
                <p>Quantity: @cloth.OrderedQuantity</p>
                <button class="remove-item-btn cloth" data-cart-id="@Model.Id" data-cloth-id="@cloth.Id" data-cloth-size="@cloth.Size">X</button>
            </div>
        </div>
    }

    @foreach (var proteinPowder in Model.ProteinPowders)
    {
        <div class="cart-item">
            <div class="item-image">
                <img src="/images/@proteinPowder.Image" alt="@proteinPowder.Name">
            </div>
            <div class="item-details">
                <h3>@proteinPowder.Name</h3>
                <p>Flavor: @proteinPowder.FlavorName</p>
                <p>Type of protein: @proteinPowder.TypeOfProtein</p>
                <p>Brand: @proteinPowder.ProteinPowderBrand</p>
                <p>Weight: @proteinPowder.Weight grams.</p>
                <p>Price: $@proteinPowder.Price</p>
                <p>Quantity: @proteinPowder.OrderedQuantity</p>
                <button class="remove-item-btn protein" data-cart-id="@Model.Id" data-protein-id="@proteinPowder.Id" data-protein-flavor="@proteinPowder.FlavorName">X</button>
            </div>
        </div>
    }
</div>

<script>
    $(document).on("click", ".remove-item-btn.cloth", function () {
        const url = '/ShoppingCart/RemoveClothFromCart';

        var shoppingCartId = $(this).data("cart-id");
        var clothId = $(this).data("cloth-id");
        var size = $(this).data("cloth-size");

        if (confirm('Are you sure you want to remove this clothe ?')) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { shoppingCartId, clothId, size },
                success: function (result) {
                    location.reload();
                },
                error: function (error) {
                    alert("An error occurred while removing cloth from cart. Please try again later.");
                }
            });
        }
    });

    $(document).on("click", ".remove-item-btn.protein", function () {
        const url = '/ShoppingCart/RemoveProteinFromCart';

        var shoppingCartId = $(this).data("cart-id");
        var proteinId = $(this).data("protein-id");
        var flavor = $(this).data("protein-flavor");

        if (confirm('Are you sure you want to remove this protein ?')) {
            $.ajax({
                url: url,
                type: 'POST',
                data: { shoppingCartId, proteinId, flavor },
                success: function (result) {
                    location.reload();
                },
                error: function (error) {
                    alert("An error occurred while removing protein powder from cart. Please try again later.");
                }
            });
        }
    });
</script>
